<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.ShopServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMenuServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.AddMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMenuTopServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.AddMenuTopServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveMenuTopServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.RemoveMenuTopServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateMenuServlet</servlet-name>
    <servlet-class>com.qst.foodie.servlet.UpdateMenuServlet</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/servlet/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/servlet/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/servlet/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/servlet/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/servlet/ShopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMenuServlet</servlet-name>
    <url-pattern>/servlet/AddMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMenuTopServlet</servlet-name>
    <url-pattern>/servlet/AddMenuTopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveMenuTopServlet</servlet-name>
    <url-pattern>/servlet/RemoveMenuTopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/servlet/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMenuServlet</servlet-name>
    <url-pattern>/servlet/UpdateMenuServlet</url-pattern>
  </servlet-mapping>

</web-app>